# Cache e Compilados Python
__pycache__/
*.py[cod]

# Ambientes Virtuais
.venv/
venv/
env/

# Configurações de IDE
.vscode/
.idea/

# Dados da Aplicação (Banco de Dados)
# Ignora todos os JSONs dentro da pasta data
data/*.json

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
